/* Rounded buttons */
.button {
  border-radius: 100px;
}

/* Sections */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-no-space {
  padding: 0rem 0 0;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}
.footer {
  color: #AAA;
  text-align: center;
}

/* Hero */
.spin-blocks {
  position: relative;
}
.spin-block {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.spin-block + .spin-block {
  display: none;
}

/* Custom */
.menuLink {
    text-decoration: none;   
}
.bigFont {
    font-size: 26px;
}
.selectedSlide {
    background-color: #33C3F0;
    color: white;
    border-color: #33C3F0;
}
.menuNotActive:hover {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}
.clickable {
    cursor: pointer;   
}

#versionShowings {
    margin-top: -0.5rem;
    margin-bottom: 1.6rem;
}

.displayNone {
    display: none;   
}

/* Values */
.values {
  background-image: url('../images/minecraft-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.value-image {
  margin-bottom: .5rem;
  max-height: 7rem;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .9;
  font-weight: 400;
}

/* Categories */
.categories {
  background-image: url('../images/minecraft-bg2.jpg');
  background-size: cover;
  color: #fff;
}
.categories .section-description {
  margin-bottom: 4rem;
}

/* How-to */
.how-to {
  text-align: left;
}
.preload {
  display: none;
}

/* Responsive video wrapper */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 5rem 0 2rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .spin-block {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .spin-block + .spin-block {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 5rem 0 2rem;
  }
  .hero {
    padding: 8rem 0 7rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 5rem 0 2rem;
  }
  .hero {
    padding: 8rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
}
